<!DOCTYPE html>
<html>
  <head>
    <title>Google Login</title>
  </head>
  <body>
    <p>Redirecting to Google...</p>

    <script>
      (async () => {
        try {
          const res = await fetch("/api/auth/sign-in/social", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            credentials: "include",
            body: JSON.stringify({
              provider: "google",
              callbackURL: "<%= betterAuthUrl %>/api/v1/auth/google/callback",
            }),
          });

          const data = await res.json();

          if (data.url) {
            window.location.href = data.url;
          } else {
            document.body.innerHTML = "<p>Google redirect failed</p>";
          }
        } catch (err) {
          document.body.innerHTML =
            "<p>Error during Google login. Try again.</p>";
        }
      })();
    </script>
  </body>
</html>
